NODE_ENV=production
DATABASE_URL="postgresql://postgres.gjcskugwnpxqqsklobyf:Appointment-Booking-System@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d
PORT=3000